<html xmlns:th="http://www.thymeleaf.org">
<title>登陆页面</title>
<head>
    <meta content="text/html;charset=UTF-8" />
    <title>唯伊不可登录</title>
</head>
<body>
<form name="login" method="post">
    <table align="center">
        <tr>
            <td>注册界面</td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td><input type="text" name ="email" size="24"/></td>
        </tr>

        <tr>
            <td>验证码：</td>
            <td><input type="password " name="password" size="24"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="登录" size="24"/></td>
        </tr>
    </table>
</form>
<script >
  var email= document.getElementsByClassName("email")
  email.onclick=function () {
      console.log(email)
  }
</script>
</body>
</html>